<!doctype html>

<head>
    <title>epygone</title>
    <link rel="stylesheet" type="text/css" href="/epygone/static/main.css">
    <meta charset="UTF-8">
    <meta name="description" content="A naive epigone and consumer of books.">
    <meta name="keywords" content="Python,NLTK,NLP,Generator">
    <meta name="author" content="Tadek Teleżyński">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="epygone" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Kubona" />
    <meta property="og:description" content="A naive epigone and consumer of books." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="http://tadek.tele.com.pl/epygone" />
    <meta property="og:image" content="epygone/static/logo.png">
    <meta property="og:determiner" content="the" />
</head>

<body>
    <div class="header">
        <h1><img src="/epygone/static/logo.png"></h1>
        <h5>a very naive epigone and consumer of books</h5>
        <a href="https://github.com/tadeoos/nltkgenlit"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    </div>
    {% block content %} {% endblock %}
    <script type="text/javascript">
    //auto expand textarea
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight) + "px";
    }

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block') {
            e.style.display = 'none';
        } else {
            e.style.display = 'block';
        }
    }
    </script>
</body>

</html>
