{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-4">
    	<p><a href="upload">UPLOAD FILE</a></p>
        <form class="form-style-7" method="POST" id="tadeoa">
            <ul>
                <li>
                    <label for="book">Book</label>
                    <select name="book" form="tadeoa">
                        {% for file in files%}
                        <option value="{{file}}" {% if file==org %}selected{% endif %}>{{file}}</option>
                        {% endfor %}
                    </select>
                    <span>Choose a text to imitate</span>
                </li>
                <li>
                    <label for="quantity">Length</label>
                    <input type="number" name="quantity" min="1" max="12" value="{{num}}">
                    <span># of sentences to generate</span>
                </li>
                <li>
                    <input type="submit" name="normal" value="go">
                </li>
                <li>
                    <input type="submit" name="random" value="random">
                </li>
            </ul>
        </form>
    </div>
    <div class="col-8">
        <div id="res">
            <p>{{gm|safe}}</p>
        <p class="res-text">LEGEND (# of possible choices):<br>
            <span class="res-grey">grey</span> = 1<br>
            <span class="res-green">green</span> <=10<br>
            <span class="res-blue">blue</span> <=25<br>
            25< <span class="res-magenta">magenta</span>
        </p>
        </div>
        <div id="info">
            <p>Choose length and text which tadeoa will imitate.</p> 
            <p>His method is very simple: he just randomly generates word by word based on a conditional (trigrams) frequency distribution. The probability space is weighted accordingly.</p>
            <p>There is also an API available at <a href="/rand" target="_blank"><code>/rand</code></a> </p>
        </div>
    </div>
    </div>
{% endblock %}
