{% extends 'base.html' %} {% block content %}
<div class="row">
    <div class="col-4">
        {#
        <p><a href="upload">UPLOAD FILE</a></p> #}
        <div class="form-style-7" method="" id="tadeoa">
            <div id="form-buttons">
                <a href="upload" style="text-decoration: none;">
                    <button class="form-button">UPLOAD FILE</button>
                </a>
                <button class="form-button">GO</button>
                <button class="form-button" id="button">RANDOM</button>
            </div>
            <ul>
                <li>
                    <label for="book">Book</label>
                    <select id="book" name="book" form="tadeoa">
                        {% for file in files%}
                        <option value="{{file}}" {% if file==org %}selected{% endif %}>{{file}}</option>
                        {% endfor %}
                    </select>
                    <span>Choose a text to imitate</span>
                </li>
                <li>
                    <label for="quantity">Length</label>
                    <input id="len" type="number" name="quantity" min="1" max="12" value="{{num}}">
                    <span># of sentences to generate</span>
                </li>
            </ul>
        </div>
        <div id="legend">
            <p class="res-text">LEGEND<br>
                <br>
                <span class="res-grey">grey</span> = 1 <span class="comment">  # of possible choices</span>
                <br>
                <span class="res-green">green</span> <= 10<br>
                    <span class="res-blue">blue</span> <= 25<br>
                        25 < <span class="res-magenta">magenta</span>
            </p>
        </div>
    </div>
    <div class="col-8">
        <div id="info">
            <p>Choose length and text which tadeoa will imitate.</p>
            <p>His method is very simple: he just randomly generates word by word based on a conditional (trigrams) frequency distribution. The probability space is weighted accordingly.</p>
            <p>There is also an API available at <a href="rand" target="_blank"><code>/rand</code></a> </p>
        </div>
        <div id="res">
            <p id="res-anaconda"></p>
        </div>
    </div>
</div>
<script type="text/javascript">
var loadBtn = document.getElementById("button"),
    pAnaconda = document.getElementById("res-anaconda");

function download() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "rand", true);
    xhr.responseType = "json";
    xhr.onloadend = function(e) {
        // progressBar.value = e.loaded;
        loadBtn.disabled = false;
        loadBtn.innerHTML = 'RANDOM';
    };
    xhr.onload = function(e) {
        if (this.status == 200) {
            console.log(xhr.response.source);
            document.getElementById("len").value = xhr.response.len.toString();
            document.getElementById('book').value = xhr.response.source
            pAnaconda.innerHTML = xhr.response.data.text;
        }
    };
    xhr.send(null);
};

loadBtn.addEventListener("click", function(e) {
    pAnaconda.innerHTML = "<div id='loader'><img src='litgen/static/25.gif'></div>";
    this.disabled = true;
    download();
});
</script>
{% endblock %}
