<pre>
<span style="color:blue;font-weight:bold;">teksty/</span>
├── [259K]  eng-dostoyevsky-gambler.txt
├── [1.4M]  eng-dostoyevsky-idiot.txt
├── [432K]  eng-wilde-dorian.txt
├── [7.8K]  iptables.txt
├── [ 11K]  pl-grimm-kopciuszek.txt
├── [ 21K]  pl-jasienski-piesn-o-glodze.txt
├── [218K]  pl-mickiewicz-pan-tadeusz.txt
├── [137K]  pl-nietzsche-ryszard-wagner-w-bayreuth.txt
├── [719K]  pl-nietzsche-wola-mocy.txt
├── [541K]  pl-nietzschezaratustra.txt
├── [567K]  pl-rabelais-gargantua-i-pantagruel.txt
├── [ 82K]  pl-slowacki-anhelli.txt
├── [179K]  pl-szulc-sklepy.txt
├── [270K]  pl-witkacy-narkotyki.txt
└── [145K]  pl-witkacy-szewcy.txt

0 directories, 15 files
</pre>
