<pre>
<span style="color:blue;background-color:black;">teksty/</span>
├── [546K]  eng-cervantes-don.txt
├── [240K]  eng-dostoyevsky-gambler.txt
├── [1.3M]  eng-dostoyevsky-idiot.txt
├── [396K]  eng-joyce-dubliners.txt
├── [430K]  eng-wilde-dorian.txt
├── [ 11K]  pl-grimm-kopciuszek.txt
├── [ 20K]  pl-jasienski-piesn-o-glodze.txt
├── [218K]  pl-mickiewicz-pan-tadeusz.txt
├── [136K]  pl-nietzsche-ryszard-wagner-w-bayreuth.txt
├── [718K]  pl-nietzsche-wola-mocy.txt
├── [540K]  pl-nietzschezaratustra.txt
├── [510K]  pl-rabelais-gargantua-i-pantagruel.txt
├── [ 60K]  pl-slowacki-anhelli.txt
├── [179K]  pl-szulc-sklepy.txt
├── [270K]  pl-witkacy-narkotyki.txt
└── [142K]  pl-witkacy-szewcy.txt

0 directories, 16 files
</pre>
