<!doctype html>

<head>
    <title>tadeoa</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
</head>

<body>
    <div class="header">
        <h1>tadeoanaconda</h1>
        <h5>a very naive epigone and consumer of books</h5>
    </div>
    {% block content %}
    {% endblock %}

 <script type="text/javascript">
    //auto expand textarea
    function adjust_textarea(h) {
        h.style.height = "20px";
        h.style.height = (h.scrollHeight) + "px";
    }

    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block') {
            e.style.display = 'none';
        } else {
            e.style.display = 'block';
        }
    }
    </script>
</body>

</html>
